/* .task:before{
    content: "Here is your updated task";
    font-weight: bold;
    font-size: 35px;
} */
.task{
    width: 80%;
    height: auto;
    border-radius: 10px;
    background-color: skyblue;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    
}
.main{
    width: 25%;
    margin-left: 20%;
    text-align: center;
}
li{
    font-size: larger;
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-around;
}